* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fafafa;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 10px;
}

.calculator__display {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calculator__display-text-value {
  margin-right: 20px;
  width: 100%;
  font-weight: bold;
  text-align: right;
  color: #333;
}

.top-display {
  font-size: 1.5rem;
}

.bottom-display {
  font-size: 2rem;
}

.calculator__keypad {
  display: grid;
  flex: 1;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.2rem;
  list-style: none;
}

.calculator__keypad-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}
